promociones


.section__parrafo {
    grid-area: texto;
    height: auto;
    font-size: 20px;
    color: white;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.section__button{
    font-size: 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
    display: inline-block;
}
.section_2{
    text-align: center;
}





.body__img{
    height: 400px;
    width: 100%;
}
.section{
    display: grid;
    grid-template-columns: repeat( 1fr,1fr);
    justify-items:center ;
    background-color: black;
    font-size: 25px;
}
.section__table{
    background-color: black;
}
.section__table__text{
    padding: 5px;
    color: white;
}

index

contacto




.informacion {
    display: inline-block;
    height: 100%;
    padding: 30px;
}

.informacion__title {
    color: red;
    text-align: center;
}

.informacion__subtitulo {
    font-family: Arial, Helvetica, sans-serif;
}

.informacion__texto {
    font-size: larger;
}
.section{
    padding: 20px;
}
.section__title {
    text-align: center;
    font-size: 35px;
}

.section__div {
    display: flex;
    justify-content: center;
}
