.section {
    display: flex;
    justify-content: space-around;
    .section__parrafo {
        background-color: $secondaricolor;
        justify-content: space-around;
        font-size: 20px;
        height: 20px;
        width: 100%;}
}

