@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600;800&display=swap');

$fontKanit: 'Times New Roman', Times, serif;

$maincolor: rgba(236, 25, 25,0.856)
$secondaricolor: #3d2e2e80