@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600;800&display=swap');

$maincolor: rgba(238, 0, 0, 0.856);
$secondaricolor:rgba(153, 23, 23, 0.76);

.container{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 15px;
    max-height: 100%;
    width: 100%;
}